@model Proj_BOL.tbl_Opportunity

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm("Edit", "tbl_Opportunity", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Oppor_Id)

        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "Oppor_Id":
                case "ImageData":
                case "ImageMimeType":
                    // do nothing
                    break;
                default:
                    break;
            }
        }
        <div>
            <h4>Opportunity</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_Dateofevent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_Dateofevent)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_Streetaddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_Streetaddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_Streetaddress2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_Streetaddress2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_Zip)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_Zip)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_County)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_County)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_Eldersource)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_Eldersource)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_Eldersourceinstitute)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_Eldersourceinstitute)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_RequiresBackgroundCheck)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_RequiresBackgroundCheck)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_IsFeatured)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_IsFeatured)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oppor_CreatedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oppor_CreatedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Role)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Role)
                </dd>
            </dl>
            
            <div class="form-group">
                <div style="position:relative;">
                    <label>Image</label>
                    <a class='btn' href='javascript:;'>
                        Choose File...
                        <input type="file" name="Image" size="40"
                               style="position:absolute;z-index:2;top:0;
                            left:0;filter: alpha(opacity=0); opacity:0;
                            background-color:transparent;color:transparent;"
                               onchange='$("#upload-file-info").html($(this).val());'>
                    </a>
                    <span class='label label-info' id="upload-file-info"></span>
                </div>
                @if (Model.ImageData == null)
                {
                    <div class="form-control-static">No Image</div>
                }
                else
                {
                    <img class="img-thumbnail" width="150" height="150"
                         src="@Url.Action("GetImage", "tbl_Opportunity", new { Model.Oppor_Id })" />

                }
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Cancel and return to List", "Index", null, new { @class = "btn btn-default" })
        </div>
        }
    </div>
}