
@model IEnumerable<Proj_BOL.tbl_Volunteer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    function ConfirmApprove() {
        return confirm('Are you sure you want to Approve?');
    }

    function ConfirmReject() {
        return confirm('Are you sure you want to Reject?');
    }
</script>


<h2>Manage Volunteers</h2>
<div class="pull-right">
    <div class="btn-group ">
        <button type="button" class="btn btn-primary">Export To</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Excel", "ExportTo", new { ReportType = "Excel" })</li>
            <li>@Html.ActionLink("PDF", "ExportTo", new { ReportType = "PDF" })</li>
            <li>@Html.ActionLink("Word", "ExportTo", new { ReportType = "Word" })</li>
        </ul>
    </div>
</div>



@if (TempData["Msg"] != null)
{<div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">x</button>
        @TempData["Msg"].ToString()
    </div>}

<ul class="nav nav-pills">
    @if (ViewBag.Status == "P")
    {
        <li class="active">@Html.ActionLink("Pending Volunteers", "Index", new { Status = "P" })</li>
    }
    else
    {
        <li> @Html.ActionLink("Pending Volunteers", "Index", new { Status = "P" })</li>
    }
    @if (ViewBag.Status == "A")
    {
        <li class="active">@Html.ActionLink("Approved Volunteers", "Index", new { Status = "A" }) </li>
    }
    else
    {
        <li>@Html.ActionLink("Approved Volunteers", "Index", new { Status = "A" })</li>
    }
    @if (ViewBag.Status == "R")
    {
        <li class="active">@Html.ActionLink("Rejected Volunteers", "Index", new { Status = "R" }) </li>
    }
    else
    {
        <li>@Html.ActionLink("Rejected Volunteers", "Index", new { Status = "R" })</li>
    }
</ul>
<table class="table table-responsive table-bordered table-striped table-hover">
    <tr class="info">

        <th>Approve/Reject</th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            Opportunity
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunLname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunDateofbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunStreetaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunStreetaddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        
        
       
        <th>
            @Html.DisplayNameFor(model => model.VoluntNutrition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunTrainingFacilitator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunGeneral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunHealthyliving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunDiseaseManagement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunFallsPrevention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunCaregiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunMentalWellness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunEvents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunSocialMedia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunOtherInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunBackgroundCheckRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunBackgroundCheckCompletedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunBackgroundCheckExpiresOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunActivitiesParticipated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunMarkVolunteer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunFlagged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunFlaggedInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunGeneralNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunUpdateHours)
        </th>
        <th>Details</th>
        <th>Delete</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Approve", "Approve", new { id = item.Volun_Id }, new { onclick = "return ConfirmApprove();" }) |
                @Html.ActionLink("Reject", "Reject", new { id = item.Volun_Id }, new { onclick = "return ConfirmReject();" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @{
                    foreach (var bat in item.OrderLines)
                    {
                        @:  @bat.Oppor_Name <br />
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunDateofbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunStreetaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunStreetaddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            
            
            
            <td>
                @Html.DisplayFor(modelItem => item.VoluntNutrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunTrainingFacilitator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunHealthyliving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunDiseaseManagement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunFallsPrevention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunCaregiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunMentalWellness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunEvents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunSocialMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunOtherInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunBackgroundCheckRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunBackgroundCheckCompletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunBackgroundCheckExpiresOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunActivitiesParticipated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunMarkVolunteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunFlagged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunFlaggedInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunGeneralNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunUpdateHours)
            </td>
            
            <td> @Html.ActionLink("Details", "Details", new { id = item.Volun_Id })</td>               
            <td> @Html.ActionLink("Delete", "Delete", new { id = item.Volun_Id })</td>
        </tr>
    }
   
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}