@model IEnumerable<Proj_BOL.tbl_Volunteer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Volunteer List</h2>

<table class="table table-responsive table-bordered table-striped table-hover">
    <tr class="info">
        <th>
            @Html.ActionLink("IsApproved", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "IsApproved", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.VolunFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunLname)
        </th>
        <th>
            @Html.ActionLink("VolunEmail", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "UserEmail", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunDateofbirth)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.VolunStreetaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunStreetaddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunState)
        </th>
        <th>
            @Html.ActionLink("VolunZip", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "VolunZip", page = (ViewBag.Page == null ? "1" : ViewBag.Page) })

        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableMonday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableMondayMorning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableMondayAfternoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableMondayEvening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableTuesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableTuesdayMorning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableTuesdayAfternoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableTuesdayEvening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableWednesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableWednesdayMorning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableWednesdayAfternoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableWednesdayEvening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableThursday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableThursdayMorning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableThursdayAfternoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableThursdayEvening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableFriday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableFridayMorning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableFridayAfternoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableFridayEvening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableSaturday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableSaturdayMorning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableSaturdayAfternoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableSaturdayEvening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableSunday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableSundayMorning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableSundayAfternoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAvailableSundayEvening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoluntNutrition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunTrainingFacilitator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunGeneral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunHealthyliving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunDiseaseManagement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunFallsPrevention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunCaregiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunMentalWellness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunEvents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunSocialMedia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunOtherInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunBackgroundCheckRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunBackgroundCheckCompletedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunBackgroundCheckExpiresOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunActivitiesParticipated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunMarkVolunteer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunFlagged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunFlaggedInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunGeneralNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunUpdateHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunDateofbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunStreetaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunStreetaddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableMonday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableMondayMorning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableMondayAfternoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableMondayEvening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableTuesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableTuesdayMorning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableTuesdayAfternoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableTuesdayEvening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableWednesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableWednesdayMorning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableWednesdayAfternoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableWednesdayEvening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableThursday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableThursdayMorning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableThursdayAfternoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableThursdayEvening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableFriday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableFridayMorning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableFridayAfternoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableFridayEvening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableSaturday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableSaturdayMorning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableSaturdayAfternoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableSaturdayEvening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableSunday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableSundayMorning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableSundayAfternoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAvailableSundayEvening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoluntNutrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunTrainingFacilitator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunHealthyliving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunDiseaseManagement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunFallsPrevention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunCaregiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunMentalWellness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunEvents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunSocialMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunOtherInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunBackgroundCheckRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunBackgroundCheckCompletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunBackgroundCheckExpiresOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunActivitiesParticipated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunMarkVolunteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunFlagged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunFlaggedInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunGeneralNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunUpdateHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
           
     
        </tr>
    }

</table>
@{
    double TotalPage = @ViewBag.TotalPages;
}
<ul class="pagination">
    @for (int i = 1; i <= TotalPage; i++)
    {

        if (i == ViewBag.Page)
        {
            <li class="active"> @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "VolunZip" : ViewBag.SortBy), Page = i })</li>
        }
        else
        {
            <li>
                @Html.ActionLink(i.ToString() + " ", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "VolunZip" : ViewBag.SortBy), Page = i })
            </li>
        }

    }
</ul>