@model SProj_MtoM.ViewModels.OpportunityListViewModel

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model.Opportunities)
{

<div class="col-sm-4 col-lg-4 col-md-4">

    <div class="thumbnail">
        @if (item.ImageData != null)
            {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="320" height="200"
                 src="@Url.Action("GetImage", "Opportunity",new { item.Oppor_Id })" />

            <div class="addToCart text-right">
                <p class="button ">
                    @using (Html.BeginForm("AddToBasket", "Basket"))
            {
                @Html.AntiForgeryToken()
                <div class="pull-right">
                    <input type="hidden" name="Oppor_Id" value="@item.Oppor_Id" />
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-sm btn-success" value="Apply now" />
                </div>
    }
                </p>
            </div>
        </div>
            }

        <div class="caption">
            <h3 class="pull-right">@item.Oppor_Dateofevent</h3>
            <h3>
                @Html.ActionLink(item.Oppor_Name, "Details", "Opportunity", new { Oppor_Id = item.Oppor_Id, name = item.Oppor_Name }, null)

            </h3>
            <p>Testing, testing</p>
        </div>
       
    </div>
</div>
}
<hr />
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>

